{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}" />

    <h1 class="title1">Bookingoffers</h1>
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Start date</th>
            <th>Price</th>
            <th>Comment</th>
            <th>Technical needs</th>
            <th>Accepted</th>
        </tr>
        {% for offer in bookingoffers %}
            {% if offer.approved_by_bm %}
            <tr>
                <td> {{ offer.artist.name }}</td>
                <td> {{ offer.time_slot.stage }}</td>
                <td> {{ offer.time_slot.start_date }}</td>
                <td> {{ offer.price }}</td>
                <td> {{ offer.comment }}</td>
                <td> {{ offer.tech_needs }}</td>
                <td> {{ offer.accepted_by_am }}</td>
                <td><a href="{{ offer.id }}/update">Edit</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <h1>Concerts</h1>
    <div class ="container">
        <table class="table">
            <tr>
                <th>Artist</th>
                <th>Stage</th>
                <th>Date</th>
                <th>Time</th>
                <th>Sold Tickets</th>
                <th>Available Tickets</th>
                <th>Contact person</th>
            </tr>
            {% for concert in concerts %}
                <tr>
                    <td> {{ concert.artist }}</td>
                    <td> {{ concert.time_slot.stage }}</td>
                    <td> {{ concert.time_slot.start_date }}</td>
                    <td> {{ concert.time_slot.start_time }}</td>
                    <td> {{ concert.sold_tickets }}</td>
                    <td> {{ concert.time_slot.stage.audience_cap }}</td>
                    <td>
                        {% for contact in concert.contact_person.all %}
                            <li>{{ contact }}</li>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
