{% extends 'base.html' %}
{% block content %}

<h1>Sent booking offers</h1>
    <table class="table">
        <tr>
            {% for offer in booking_offers %}
                <td>
                    <div class="card text-primary border-primary" style="max-width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title"> {{ offer.artist }}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Booker: {{ offer.booker }}</li>
                                <li class="list-group-item">Time:  {{ offer.time_slot }}</li>
                                <li class="list-group-item">Price: {{ offer.price }}</li>
                                <li class="list-group-item">Comment: {{ offer.comment }}</li>
                                <li class="list-group-item">Approved by Booking Manager: {{ offer.approved_by_bm }}</li>
                                <li class="list-group-item">Approved by Artist Manager: {{ offer.accepted_by_am }}</li>
                            </ul>

                            <div style="float: left; width: 50%; margin-top: 10px;">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <form method="post"  action="{% url 'accept_booking' %}">
                                                {% csrf_token %}
                                               <input class="btn btn-primary" type="submit" value="Accept" name="Accept"/>
                                                <input type="hidden" name="offer" value="{{ offer.id }}" />
                                        </form>
                                    </li>
                                </ul>
                            </div>

                            <div style="float: right; width: 50%;">
                                <ul style="list-style-type:none; margin: 0; padding: 0; margin-top: 10px;" >
                                    <li>
                                        <form method="post"  action="{% url 'decline_booking' %}">
                                                {% csrf_token %}
                                               <input class="btn btn-primary" type="submit" value="Decline" name="Decline" />
                                                <input type="hidden" name="offer" value="{{ offer.id }}" />
                                        </form>

                                    </li>
                                </ul>
                            </div>
                    </div>
                </td>
                {% if forloop.counter|divisibleby:3 %}
                    </tr>
                    <tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <h1>AVAILABLE TIME SLOTS </h1>
    <table class="table">
        <tr>
            <th>Slot</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Stage</th>
        </tr>
        {% for slot in available_slots %}
            <tr>
                <td> {{ slot }}</td>
                <td> {{ slot.start_date }}</td>
                <td> {{ slot.end_date }}</td>
                <td> {{ slot.stage }}</td>
            </tr>
        {% endfor %}
    </table>


    <h1>OVERVIEW</h1>
    <table class="table">
        <tr>
            <th>Booked slots</th>
            <th>Offers sent</th>
            <th>Available slots</th>
        </tr>
        <tr>
            <td> {{ booked_slots|length }}</td>
            <td> {{ booking_offers|length }} </td>
            <td> {{ available_slots|length }}</td>
        </tr>
    </table>


{% endblock content %}
