{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1>Sent booking offers</h1>
    <table class="table">
        <tr>
            {% for offer in booking_offers %}
                <td>
                    <div class="card text-primary border-primary" style="max-width: 19rem;">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fa fa-user"></i> {{ offer.artist }} </h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Booker: {{ offer.booker }}</li>
                                <li class="list-group-item">Time:  {{ offer.time_slot }}</li>
                                <li class="list-group-item">Price: {{ offer.price }}</li>
                                <li class="list-group-item">Comment: {{ offer.comment }}</li>
                                <li class="list-group-item">Approved by Booking Manager: {{ offer.approved_by_bm }}</li>
                                <li class="list-group-item">Accepted by Artist Manager: {{ offer.accepted_by_am }}</li>
                            </ul>

                            <div style="float: left; width: 50%; margin-top: 10px;">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <form method="post"  action="{% url 'accept_booking' %}">
                                            {% csrf_token %}
                                            <input class="btn btn-primary" type="submit" value="Approve" name="Accept"/>
                                            <input type="hidden" name="offer" value="{{ offer.id }}"/>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                            <div style="float: right; width: 50%;">
                                <ul style="list-style-type:none; margin: 10px 0 0; padding: 0;" >
                                    <li>
                                        <form method="post"  action="{% url 'decline_booking' %}">
                                            {% csrf_token %}
                                            <input class="btn btn-primary2" type="submit" value="Decline" name="Decline"/>
                                            <input type="hidden" name="offer" value="{{ offer.id }}"/>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                {% if forloop.counter|divisibleby:3 %}
                    </tr>
                    <tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <h1>AVAILABLE TIME SLOTS </h1>

    <br>
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#TimeSlotModal"-->
            <!--data-whatever="@mdo" style="float:right;">New TimeSlot</button>-->
    <a type="button" class="btn btn-primary" href="{% url 'timeslot_create' %}" style="float: right;">New TimeSlot</a>
    <br>

    <table class="table">
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Stage</th>
            <th></th>
        </tr>

        <br>
        <br>


        {% for slot in available_slots %}
            <tr>
                <td> {{ slot.start_date }}</td>
                <td> {{ slot.end_date }}</td>
                <td> {{ slot.start_time }}</td>
                <td> {{ slot.end_time }}</td>
                <td> {{ slot.stage }}</td>
                <td> <a class="btn btn-primary" data-toggle="modal" data-target="#TimeSlotModal">Edit</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td>  Total {{ booked_slots|length }} slots booked, {{ booking_offers|length }} offers sent where as {{ available_slots|length }} of these are available </td>
        </tr>
    </table>



        <div class="modal fade" id="TimeSlotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New TimeSlot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form method="POST" action="">{% csrf_token %}
                      <div class="form-group">
                        {{ time_slot_form.as_p }}
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" value="Save TimeSlot" class="btn btn-primary"/>
                        </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script !src="">

//$('#TimeSlotModal').on('hidden.bs.modal', function() {
//  return false;
//});

$('#TimeSlotModal').on('hide.bs.modal', function(e) {

       e.preventDefault();
   });

//    $(document).ready(function(){
//    $("p").click(function(){
//        $(this).hide();
//    });
//});
</script>

{% endblock content %}
