{% extends 'base.html' %}
{% block content %}

    <table class="containertable">>
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Time slot</th>
            <th>Artist manager</th>
            <th>Technical needs</th>
        </tr>

        {% for offer in bookingoffers %}
        <tr>
            <td>{{ offer.artist.name }}</td>
            <td>{{ offer.artist.concert.stage }}</td>
            <td>{{ offer.artist.time_slot }}</td>
            <td>{{ offer.artist_manager }}</td>
            <td>{{ offer.tech_needs }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
