{% extends 'base.html' %}
{% block content %}

    <table class="containertable">
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Date</th>
            <th>Artist manager</th>
            <th>Technical needs</th>
        </tr>

        {% for offer in bookingoffers %}
        <tr>
            <td>{{ offer.artist.name }}</td>
            <td>{{ offer.offering_stage }}</td>
            <td>{{ offer.offering_date }}</td>
            <td>{{ offer.artist_manager }}</td>
            <td>{{ offer.tech_needs }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
