{% extends 'base.html' %}
{% block content %}

    {% for stage, c in stage_dict.items %}
        <h1>{{ stage.name }}</h1>

        <table class="table">
            <tr>
            {% for concert in c %}
                   <td>
                    <div class="card text-primary border-primary" style="max-width: 20rem;">
                        <div class="card-body">
                        <h4 class="card-title"> {{ concert.artist }}</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Tickets sold: {{ concert.sold_tickets }}</li>
                            <li class="list-group-item">Audience showed:  {{ concert.audience_showed_up }}</li>
                            <li class="list-group-item">Total cost: {{ concert.cost }},-</li>
                            <li class="list-group-item">Total revenue: {{ concert.revenue }},-</li>
                        </ul>
                        </div>
                    </div>
                    </td>
                {% if forloop.counter|divisibleby:3 %}
            </tr>
            <tr>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    {% endfor %}

{% endblock content %}