{% extends 'base.html' %}

{% block content %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'table.css' %}" />


<body>
    <table class="containertable">
        <caption class="title1">Overview of your concerts</caption>
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tech meet-up time</th>
            <th>Tech done time</th>
        </tr>
        {% for concert in myconcerts %}
        <tr>
            <td> {{ concert.name }}</td>
            <td> {{ concert.stage_id }}</td>
            <td> {{ concert.concert_start_time }}</td>
            <td> {{ concert.concert_end_time }}</td>
            <td> {{ concert.tech_meetup_time}}</td>
            <td> {{ concert.tech_done_time}}</td>

        </tr>
        {% endfor %}
    </table>

{% endblock content %}
