{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}" />


    <h1>Future Concerts</h1>
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tech meet-up time</th>
            <th>Tech done time</th>
            <th>Techs met</th>
        </tr>

        {% for concert in concert_objs %}
            {% if concert.is_in_future %}
                <tr>
                    <td> {{ concert.artist }}</td>
                    <td> {{ concert.time_slot.stage }}</td>
                    <td> {{ concert.time_slot.start_date }}</td>
                    <td> {{ concert.time_slot.end_date }}</td>
                    <td> {{ concert.tech_meetup_time }}</td>
                    <td> {{ concert.tech_done_time }}</td>
                    <td>
                        {% for tech in concert.techs_met.all %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </td>
                    <td><a href="{{ concert.id }}/update">Edit</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br><br><br>
    <h1>Past Concerts</h1>
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Stage</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tech meet-up time</th>
            <th>Tech done time</th>
        </tr>

        {% for concert in concert_objs %}
            {% if not concert.is_in_future %}
            <tr>
                <td> {{ concert.artist }}</td>
                <td> {{ concert.time_slot.stage }}</td>
                <td> {{ concert.time_slot.start_date }}</td>
                <td> {{ concert.time_slot.end_date }}</td>
                <td> {{ concert.tech_meetup_time }}</td>
                <td> {{ concert.tech_done_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}

    </table>
{% endblock content %}
