{% extends 'catbase.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'coolcats/rocket.css' %}" />

</head>
<body>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Engine</th>
    <th>Propellant</th>
    <th>Engine Manufacturer</th>
    <th>Description</th>
  </tr>
    {% for launcher in launchers %}
  <tr>
    <td>{{ launcher.name }}</td>
    <td>{{ launcher.manufacturer }}</td>
    <td>{{ launcher.engine }}</td>
    <td>{{ launcher.engine.propellant }}</td>
    <td>{{ launcher.engine.manufacturer }}</td>
    <td>{{ launcher.description }}</td>
  </tr>
    {% endfor %}

</table>

{% endblock content %}