/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #343a40;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer td{
    color: #868e96!important;
    font-size: 1.2em;
}

code {
    font-size: 80%;
}
