{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Concerthub</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"></link>
    <link href="{% static 'css/boot.css' %}" rel="stylesheet"></link>
    <link href="{% static 'css/table.css' %}" rel="stylesheet"></link>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
    <!-- Custom styles for this template -->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.png' %}" type="image/gif" width="150" height="30" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Concerthub</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/boot.css' %}" rel="stylesheet">
        <link href="{% static 'css/table.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->

    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" type="image/gif" width="150" height="30" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'program' %}">Program</a>
                        </li>

                        {% for group in request.user.groups.all %}
                            {% if group.name == 'booking_manager' %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="nav-item">
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'artist_manager' %}
                                    <a class="nav-link" href="{% url 'artist_manager' %}">Artist manager</a>
                                {% endif %}
                            {% endfor %}
                        </li>

                        <li class="nav-item">
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'technician' %}
                                    <a class="nav-link" href="{% url 'technician_view' %}">My Concerts</a>
                                {% endif %}
                            {% endfor %}
                         </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>

                    <ul class="navbar ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                {% if user.first_name %}
                                    <strong>{{ user.first_name }}</strong>
                                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                {% else %}
                                    <strong>{{ user }}</strong>
                                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                {% endif %}
                                {% if user.groups.all.0 %}
                                    <p>role:</p>
                                    <strong>{{ user.groups.all.0 }}</strong>
                                    <!--only shows first role-->
                                {% endif %}
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <!-- Bootstrap core JavaScript -->

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </body>

    <!--https://codepen.io/chorijan/pen/aqDpo-->

</html>
