<div class="container">
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'cats' %}">Festivals</a>
        <a href="{% url 'booking' %}">Booking</a>

        {% for group in request.user.groups.all %}
            {% if group.name == 'technician' %}
            <a href="{% url 'cats' %}">My Concerts</a>
            {% endif %}
        {% endfor %}

        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>


        {% if user.is_authenticated %}

            {% if user.first_name %}
                || Currently logged in as: <strong>{{ user.first_name }}</strong> <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                || Currently logged in as: <strong>{{ user }}</strong> <a href="{% url 'logout' %}">Log Out</a>
            {% endif %}

            {% if user.groups.all.0 %}
        || You have role: <strong>{{ user.groups.all.0 }}</strong>
        <!--only shows first role-->
            {% else %}
                || You do not have a role
            {% endif %}

        {% else %}
            || Currently not logged in <a href="{% url 'login' %}">Log In</a>

        {% endif %}

    </nav>
</div>