<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="utf-8">
        <title>ConcertHub</title>
    </head>
    <body>
        <header>
            <h1>ConcertHub</h1>
        </header>
            {% include 'snippets/nav.html' %}


        <main>
            <div class="content">
                <h2>{% block title %}{% endblock title %}</h2>
                {% block content %}
                {% endblock content %}
            </div>
        </main>


        <footer>
            {% include 'snippets/footer.html' %}
        </footer>
    </body>
</html>
