<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sondrebase</title>
</head>
<body>

<div>
    <h2> Dagens GIT-MOTTO</h2>
</div>

<div>
    {% block content %}
    {% endblock content %}
</div>

<footer>
    <h3>Please like, comment and subscribe for more</h3>
</footer>

</body>
</html>